.idea/codeStyles
.idea/dataSources
.idea/dictionaries
.idea/shelf
.idea/sonarlint
.idea/*.xml

.allure

*.class
*.jar
*.war
*.ear
.gradle
/build/
/buildSrc/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

!libs/*.jar
*.iml

debug.log